:ruby
  title t('edit.index.title', resource: @resource)

  @breadcrumbs = [
    { text: @resource, link: url_for(@resource) },
    { text: t('attributes.edits') }
  ]

.card
  .card-header.card-header-lg
    .d-flex.flex-row
      .flex-grow-1= t('edit.index.header', resource: @resource)

  - if @edits.empty?
    .card-body
      %p.card-text.text-center.text-muted.font-italic.my-5= t('edit.index.empty')

  - else
    .list-group-flush
      - @edits.each do |edit|
        .list-group-item.list-group-item-action
          .d-flex
            .flex-grow-1
              - if policy(@resource).update?
                = t('edit.suggested_by_html', user: link_to(edit.created_by, edit.created_by))
                = t('edit.name_html', name: edit.name, value: edit.value)
              - else
                = link_to t('edit.name_html', name: edit.name, value: edit.value), edit_edit_path(edit)
            .ml-2
              - if policy(@resource).update?
                = link_to apply_edit_path(edit), 'data-method': :patch, 'data-confirm': t('confirm'),
                    title: t('edit.hints.apply') do
                  %i.text-success.fa.fa-fw.fa-check

                = link_to discard_edit_path(edit), 'data-method': :patch, 'data-confirm': t('confirm'),
                    title: t('edit.hints.discard'), class: 'ml-2' do
                  %i.text-danger.fa.fa-fw.fa-times

              - else
                = link_to edit_path(edit), 'data-method': :delete, 'data-confirm': t('confirm'),
                    title: t('edit.hints.destroy') do
                  %i.text-danger.fa.fa-fw.fa-trash
