:ruby
  title t('person.info.title', name: @person.name)
  meta_tag :description, t('person.info.description', name: @person.name)
  active_tab :about

.row
  .col-md-12.col-lg-4
    .card
      .card-header Information
      .card-body

        %dl.mt-2

          %dt= t('attributes.name')
          %dd= @person.name

          - if @person.topics.size.positive?
            %dt= t('attributes.topics')
            %dd= topics_for @person

          %dt= t('attributes.appearances')
          %dd= @person.appearances.size

          %dt= t('attributes.shows')
          %dd= @person.shows.size

          %dt= t('attributes.votes')
          %dd= @person.votes.size

          - if policy(@person).update? && @person.aliases.any?

            %dt= t('attributes.aliases')
            %dd= @person.aliases.pluck(:name).join(', ')

      - if user_signed_in?
        .card-footer
          = link_to_report @person, class: 'mr-xl-1 btn btn-sm btn-outline-danger'

    = render 'shared/share_card', share_text: @person.name

  .col-md-12.col-lg-8
    .card
      .card-header= t('attributes.description')
      .card-body.px-3.py-2
        - if @person.description.present?
          = @person.description
        - else
          .my-5.py-5.text-center.font-italic= t('description_empty')
