:ruby
  title t('person.edit.title', name: @person.name)

  @breadcrumbs = [
    { text: t('activerecord.models.person.other'), link: people_path },
    { text: @person.name, link: person_path(@person) },
    { text: t('person.edit.breadcrumb'), link: edit_person_path(@person) }
  ]

.card
  .card-header= t('person.edit.title', name: @person.name)
  .card-body
    = render 'form', person: @person
