:ruby
  title t('person.for_show.title', person: @person, show: @show)
  if @returning
    header = t('person.for_show.return.header', person: @person, show: @show)
    meta_tag :description, t('person.for_show.return.header', person: @person, show: @show)
  else
    header = t('person.for_show.new.header', person: @person, show: @show)
    meta_tag :description, t('person.for_show.new.header', person: @person, show: @show)
  end


.profile.profile-duo.mb-4
  .d-flex.justify-content-center.align-items-end.profile-duo-images
    .p-2.bg-primary.rounded
      = link_to @person do
        = image_tag person_image(@person), class: 'rounded shadow-sm border'
    .bg-primary.text-secondary.profile-duo-plus +
    .p-2.bg-primary.rounded
      = link_to @show do
        = image_tag show_image(@show), class: 'rounded shadow-sm border'
  .bg-primary.text-secondary.rounded.p-3.pt-5.text-center.profile-duo-header.shadow
    %h2= header
    %p.lead
      - if @returning
        Would you like to see #{@person} come back onto #{@show}? Make your voice heard and vote right now!
      - else
        Would you like to see #{@person} come onto #{@show} as a guest? Make your voice heard and vote right now!

    .mt-3.mb-3
      - if @voted
        %button.mt-2.mt-lg-3.btn.btn-lg.btn-secondary{ disabled: true }
          %i.fa.fa-thumbs-up
          %span.ml-2 Already voted

      - else
        = link_to votes_path(vote: { person_id: @person.id, value: 1, show_id: @show.id }),
                                    method: :post, class: 'mt-2 mt-lg-3 btn btn-lg btn-secondary shadow' do
          %i.fa.fa-thumbs-up
          %span.ml-2 Vote now!

    .mt-2= render 'shared/share_list', share_text: header

- if @last_episode && @last_episode.youtube.present?
  .card
    .card-header Latest episode with #{@person} on YouTube
    .card-body.embed-youtube= render 'shared/youtube', episode: @last_episode
- elsif @last_episode && @last_episode.spotify.present?
  .card
    .card-header Latest episode with #{@person} on Spotify
    .card-body.embed-spotify= render 'shared/spotify', episode: @last_episode

.overflow-md-hidden
  .row
    .col-12.col-lg-8
      .card
        .card-header
          Episodes with #{@person}
        = render 'episodes/index', episodes: @episodes

    .col-12.col-lg-4
      .card
        .card-header
          Guests on #{@show}
        %ul.list-group.list-group-flush
          - if @people.empty?
            %li.list-group-item
              %p.text-center.font-italic.py-5 No guests found.
          - else
            - @people.each do |person|
              %li.list-group-item
                .d-flex
                  .mr-3
                    = image_tag person_image(person), class: 'rounded-circle border size-25'
                  .flex-grow-1
                    = link_to person, person
