.form-links
  - if controller_name != 'sessions'
    .mb-2
      = link_to 'Sign in', new_session_path(resource_name)

  - if devise_mapping.registerable? && controller_name != 'registrations'
    .mb-2
      = link_to 'Create account', new_registration_path(resource_name)

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    .mb-2
      = link_to 'Forgot password', new_password_path(resource_name)

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    .mb-2
      = link_to 'Resend confirmation', new_confirmation_path(resource_name)

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    .mb-2
      = link_to 'Resend unlock', new_unlock_path(resource_name)
