%h5.text-center.font-italic.text-muted.mb-3.mb-lg-5 Use existing account

.text-center.pt-0.pt-lg-4
  = link_to omniauth_authorize_path(resource_name, :google_oauth2), method: :post do
    = image_tag 'google.png', height: 70
