<h1><%= @notification.title %></h1>
<p><%= @notification.content.html_safe %></p>
<p>
  You are receiving this because you either voted for the guest on the show, or is following the guest.
</p>
<p>
  To stop receive these emails, go to <%= link_to 'user settings', edit_user_registration_url %> and turn off
  email for notifications.
</p>
