:ruby
  title t('achievement.index.title')
  meta_tag :description, t('achievement.index.description')

  @breadcrumbs = [
    { text: t('activerecord.models.user.other') },
    { text: current_user, link: current_user },
    { text: t('achievement.index.title'), link: achievements_users_path }
  ]

.card
  .card-header= t('achievement.index.title')
  .card-body

    - @badges.each do |badge|

      .achievement{ class: badge[:earned] ? 'achievement-earned' : 'achievement-unearned' }
        .achievement-image-shadow
        .achievement-image
          %i.fas.fa-fw.fa-trophy
        .achievement-body
          .achievement-header
            %h5= t("achievement.#{badge[:badge].name}.name")
            - if badge[:levels]
              .achievement-level
                - (badge[:earned] || 0).to_i.times.each do
                  %span.achievement-level-filled
                    %i.fas.fa-fw.fa-star
                - (badge[:levels].to_i - (badge[:earned] || 0).to_i).times.each do
                  %span.achievement-level-empty
                    %i.fas.fa-fw.fa-star
          .achievement-description
            - if badge[:levels]
              = t("achievement.#{badge[:badge].name}.description.lvl#{badge[:earned] || 1}")
            - else
              = t("achievement.#{badge[:badge].name}.description")
