- title @user
- content_for :sidebar do

  .card
    .card-header
      .d-none.d-lg-inline Information
      .d-lg-none= @user

    .card-body
      = user_gravatar(@user, nil, class: 'mb-4 rounded shadow-sm border size-200')

      %dl

        %dt Full name
        %dd= @user.fullname

        %dt Username
        %dd= @user.username

        %dt Votes
        %dd= @user.votes.count

        %dt Joined
        %dd= display_time @user.created_at, :long

        %dt Country
        %dd= @user.country || 'N/A'

        - if root?

          %dt Last sign in
          %dd= display_time @user.current_sign_in_at, :long

          %dt Sign ins
          %dd= @user.sign_in_count

          %dt Current IP
          %dd= @user.current_sign_in_ip

    - if root?
      .card-footer
        = link_to admin_user_url(@user), class: 'btn btn-sm btn-outline-primary mr-1 mr-xl-2' do
          %i.fas.fa-pen
          %span.ml-1
            Edit

        = link_to user_registration_url(@user), method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'btn btn-sm btn-danger' do
          %i.fas.fa-trash
          %span.ml-1
            Remove

- content_for :main do
  .card
    .card-header Favorite guests
    = render 'people/index', people: @user.favorite_people

  .card
    .card-header Shows voted on
    = render 'shows/index', shows: @user.shows_voted_on

  .card
    .card-header Guests voted on
    = render 'people/index', people: @user.people_voted_on
