%iframe{ src: "https://www.youtube.com/embed/#{episode.youtube}",
         frameborder: 0,
         title: 'YouTube video player',
         allowtransparency: true,
         allowfullscreen: true,
         allow: 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' }
