$('.is-invalid').removeClass('is-invalid')

<% if @episode.errors.any? %>

  <%- @episode.errors.each do |attribute, error| %>
    $('#episode_<%= attribute %>').addClass('is-invalid')
    $('#episode_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
