:ruby
  title t('episode.merge.title', title: @episode.title)

.card
  .card-header.card-header-lg
    .d-flex.flex-row
      .flex-grow-1= t('episode.merge.title', title: @episode.title)

  .m-5
    = form_with do
      %merge{ url: show_episode_url(@episode.show, @episode, format: :json),
              searchUrl: show_episodes_url(@episode.show, format: :json),
              headerMerge: t('episode.merge.header.merge'),
              headerWith: t('episode.merge.header.with'),
              placeholder: t('episode.merge.placeholder'),
              mergeButton: t('episode.merge.submit') }
        %template{ 'v-slot:loading': '' }
          = render 'shared/skeleton/item'

      .text-center.mt-3
        = button_tag type: :submit, class: 'btn btn-lg btn-primary' do
          %i.fas.fa-compress-alt
          %span.ml-1= t('episode.merge.submit')
