:ruby
  title 'Add episode'

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @episode.show, link: show_path(@episode.show) },
    { text: 'Episodes' },
    { text: 'Add', link: new_show_episode_path(@episode.show) }
  ]

.card
  .card-header Add episode
  .card-body
    = render 'form', episode: @episode
