- title t('not_found.title')
.card
  .card-header
    %h4.m-0.font-weight-bold= t('not_found.header')
  .card-body
    .text-center.my-3.py-3.my-lg-5.py-lg-5
      .font-weight-bold
        .font-size-100= t('not_found.body.number')
        .font-size-25.mb-5= t('not_found.body.name')
      %p.lead= t('not_found.body.msg')
