.card
  .card-header Website Terms and Conditions of Use
  .card-body
    %strong 1. Terms
    %p By accessing this Website, accessible from shocadb.herokuapp.com, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.

    %strong 2. Use License
    %p Permission is granted to temporarily download one copy of the materials on ShocaDB's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
    %ul
      %li modify or copy the materials;
      %li use the materials for any commercial purpose or for any public display;
      %li attempt to reverse engineer any software contained on ShocaDB's Website;
      %li remove any copyright or other proprietary notations from the materials; or
      %li transferring the materials to another person or "mirror" the materials on any other server.
    %p
      This will let ShocaDB to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the
      %a{ href: 'https://www.termsofservicegenerator.net' } Terms Of Service Generator

    %strong 3. Disclaimer
    %p All the materials on ShocaDB’s Website are provided "as is". ShocaDB makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, ShocaDB does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.

    %strong 4. Limitations
    %p ShocaDB or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on ShocaDB’s Website, even if ShocaDB or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.

    %strong 5. Revisions and Errata
    %p The materials appearing on ShocaDB’s Website may include technical, typographical, or photographic errors. ShocaDB will not promise that any of the materials in this Website are accurate, complete, or current. ShocaDB may change the materials contained on its Website at any time without notice. ShocaDB does not make any commitment to update the materials.

    %strong 6. Links
    %p ShocaDB has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by ShocaDB of the site. The use of any linked website is at the user’s own risk.

    %strong 7. Site Terms of Use Modifications
    %p ShocaDB may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.

    %strong 8. Your Privacy
    %p Please read our Privacy Policy.

    %strong 9. Governing Law
    %p Any claim related to ShocaDB's Website shall be governed by the laws of se without regards to its conflict of law provisions.
