:ruby
  title t('book.edit.title', name: @book.name)

  @breadcrumbs = [
    { text: t('activerecord.models.person.other'), link: people_path },
    { text: @person, link: person_path(@person) },
    { text: t('activerecord.models.book.other'), link: person_books_path(@person) },
    { text: @book, link: person_book_path(@person, @book) },
    { text: t('person.edit.breadcrumb'), link: edit_person_book_path(@person, @book) }
  ]

.card
  .card-header= t('book.edit.header', name: @book.name)
  .card-body
    = form_with(model: @book, url: [@person, @book]) do |form|

      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control'
        .invalid-feedback#book_name_errors

      - if @book.persisted? && policy(@book).update?
        .form-group
          = form.label :slug
          = form.text_field :slug, class: 'form-control', html: { 'aria-describedby': 'book_slug_info' }
          .invalid-feedback#book_slug_errors
          %small.form-text.text-muted#book_slug_info= t('hints.slug')

      .form-group
        = form.label :description
        = form.text_area :description, class: 'form-control', rows: 3
        .invalid-feedback#book_description_errors

      .form-group
        = form.label :published_at
        = form.date_field :published_at, class: 'form-control'
        .invalid-feedback#book_published_at_errors

      .form-group
        = form.label :amazon
        .input-group.mb-3
          .input-group-prepend
            %span.input-group-text https://amazon.com/dp/
          = form.text_field :amazon, class: 'form-control'
        .invalid-feedback#book_amazon_errors

      - if policy(@book).update?
        .form-group
          = form.label :topics
          %tag-input{ class: 'form-control pl-2 h-auto',
                      ':value': @book.topics.map(&:name).to_json, name: 'book[topics]' }
          .invalid-feedback#book_topics_errors

        .form-group
          = form.label :image
          %image-form{ image: book_image(@book), resource: :book }
          .invalid-feedback#book_image_errors

        - if @book.persisted? && policy(@book).confirm?
          .form-group
            .custom-control.custom-checkbox
              = form.check_box :confirmed?, class: 'custom-control-input'
              = form.label :confirmed, class: 'custom-control-label'

        - if @book.persisted? && policy(@book).block?
          .form-group
            .custom-control.custom-checkbox
              = form.check_box :blocked?, class: 'custom-control-input'
              = form.label :blocked, class: 'custom-control-label'

      .actions.mt-4
        = button_tag type: :submit, class: 'btn btn-primary mr-4' do
          %i.fas.fa-check
          %span.ml-1= t('form.save')

        = link_to t('form.cancel'), person_books_path(@person)
