<template lang='pug'>
ul.list-group.list-group-flush

  //- empty
  li.list-group-item(v-if='shows.length == 0')
    .my-5.text-muted.text-center.font-italic {{ emptyMessage }}

  //- list
  li.list-group-item.d-flex(v-else='' v-for='(show, index) in shows' :key='show.id')

    //- image
    .list-group-item-image
      a(:href='show.view_url')
        img.rounded.shadow-sm.border(:src='show.image')

    //- body
    .list-group-item-body

      //- title
      h5.list-group-item-title
        a(:href='show.view_url') {{ show.title }}

      //- description
      .list-group-item-description(v-if='show.description' v-html='show.description')
      .list-group-item-description(v-else='')
        .font-italic Description is missing.

      //- meta data
      .row.list-group-item-meta

        .col-12.col-md-4.col-lg-3.list-group-item-meta-group
          .list-group-item-meta-label
            i.fa.fa-fw.fa-user-tie
            span Guests
          .list-group-item-meta-value {{ show.person_count }}

        .col-12.col-md-4.col-lg-3.list-group-item-meta-group
          .list-group-item-meta-label
            i.fa.fa-fw.fa-tv
            span Episodes
          .list-group-item-meta-value {{ show.episode_count }}

        .col-12.col-md-4.col-lg-6.list-group-item-meta-group
          .list-group-item-meta-label
            i.fa.fa-fw.fa-thumbs-up
            span Votes
          .list-group-item-meta-value {{ show.vote_count }}

    //- buttons
    .list-group-item-buttons.d-flex.align-items-center
      a.btn.btn-link.p-1(
        href='#'
        @click.prevent='toggleVote(show)'
        :class='{ disabled: voting }'
        :aria-label='voteLabel(show)'
        :title='voteLabel(show)'
      )
        font-awesome-icon( :icon="[show.voted ? 'fas' : 'far', 'thumbs-up']" )
      .dropdown(v-if='!hideControls')
        a.btn.btn-link.p-1(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fa.fa-fw.fa-ellipsis-v
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(v-if='show.report_url' :href='show.report_url')
            i.fa.fa-fw.fa-flag
            span Report
          a.dropdown-item(v-if='show.edit_url' :href='show.edit_url')
            i.fa.fa-fw.fa-pen
            span Edit
          a.dropdown-item.text-danger(v-if='show.destroy_url' :href='show.destroy_url' data-method='delete'
                                      data-confirm='Are you sure?')
            i.fa.fa-fw.fa-trash-alt
            span Remove

  //- new
  li.list-group-item(v-if='showNewShow')
    .d-flex.align-items-center
      .flex-grow-1
        autocomplete(
          :placeholder='newShowPlaceholder'
          :getResults='search'
          :disabled='voting'
          display-field='title'
          v-model='newShow'
          ref='showAutocomplete'
        )
      div
        a.btn.btn-link(
          href='#'
          @click.prevent='voteForNew(1)'
          :class='{ disabled: voting }'
          :aria-label='voteNewLabel()'
          :title='voteNewLabel()'
        )
          i.fas.fa-thumbs-up

</template>

<script>
import Axios from 'axios'
import EventBus from '../../packs/eventBus'
import GoogleAnalytics from '../../packs/googleAnalytics'

export default {
  props: {
    collection: {
      type: Array,
      default: () => []
    },
    personId: {
      type: String,
      default: '0'
    },
    showNewShow: {
      type: Boolean,
      default: false
    },
    hideControls: {
      type: Boolean,
      default: false
    },
    newShowPlaceholder: {
      type: String,
      default: 'Show name'
    },
    emptyMessage: {
      type: String,
      default: 'No shows found.'
    }
  },
  data() {
    return {
      shows: [],
      voting: false,
      newShow: { title: '' }
    }
  },
  watch: {
    collection () {
      this.shows = this.collection
    }
  },
  methods: {

    voteLabel (show) { return `Vote for ${show.title}` },
    voteNewLabel () { return 'Vote for new show' },

    search (query) {
      const shows = this.shows.map(x => x.id)
      return new Promise(function (resolve, reject) {
        Axios
          .get('/shows.json', { params: { q: query } })
          .then(response => {
            resolve(
              response.data.filter(
                x => (shows.indexOf(x.id) === -1)
              ).slice(0, 5)
            )
          })
          .catch(error => {
            reject(error)
          })
      })
    },

    voteForNew (value) {
      this.voting = true
      this.error = ''
      this.notice = ''
      let that = this
      let name = this.newShow.title || this.newShow.name
      let params = { show_name: name, vote: { value: value, person_id: that.personId } }
      return Axios
        .post(`/votes.json`, params)
        .then(response => {
          that.newShow = { title: '' }
          that.shows.push(response.data.vote.show)
          that.voteSuccess(response, params)
        })
        .catch(this.voteError)
    },
    toggleVote (show) {
      let value = 1
      if (show.voted) { value = -1 }
      return this.vote(show, value)
    },
    vote (show, value) {
      this.voting = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { vote: { show_id: show.id, person_id: that.personId, value: value } }
      return Axios
        .post(`/votes.json`, params)
        .then(response => {
          show.voted = response.data.vote.show.voted
          that.voteSuccess(response, params, show)
        })
        .catch(this.voteError)
    },
    voteSuccess (response, params) {
      this.voting = false
      GoogleAnalytics.event('vote', params)
      if (response.data.limit) {
        EventBus.$emit('alert', { type: 'success', message: response.data.limit.message })
      }
    },
    voteError (error) {
      this.voting = false
      if (error?.response?.data?.error) {
        GoogleAnalytics.event('error', { action: 'vote', error: error.response.data })
        EventBus.$emit('alert', { type: 'danger', message: error.response.data.message })
      } else if (error?.response?.data && Array.isArray(error.response.data)) {
        GoogleAnalytics.event('error', { action: 'vote', error: error.response.data })
        for (const e of error.response.data) {
          EventBus.$emit('alert', { type: 'danger', message: e })
        }
      } else {
        GoogleAnalytics.event('error', { action: 'vote', error: error })
        EventBus.$emit('alert', { type: 'danger', message: error })
      }
    }
  },
  created () {
    const tokenElement = document.getElementsByName('csrf-token')
    if (tokenElement.length > 0) {
      const token = tokenElement[0].getAttribute('content')
      Axios.defaults.headers.common['X-CSRF-Token'] = token
      Axios.defaults.headers.common.Accept = 'application/json'
    }
    this.shows = this.collection
  }

}
</script>
