:ruby
  title 'Sign in'
.card
  .card-header Sign in
  .card-body

    .d-flex.flex-wrap.flex-lg-nowrap.row-gap-5

      .flex-fill.border-right-md-none.border-right.mr-2.mr-lg-5
        = render 'devise/shared/omniauth'

      .flex-fill
        %h5.text-center.font-italic.text-muted.mb-3 Use your credentials

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :login, 'Email or username'
            = f.text_field :login, placeholder: 'Email or username', autofocus: true, autocomplete: 'login',
                                    class: 'form-control'
          .form-group.mt-3
            = f.label :password
            = f.password_field :password, placeholder: 'Password', autocomplete: 'current-password',
                                          class: 'form-control'

          - if flash[:recaptcha_error]
            .alert.alert-danger.alert-dismissible.fade.show.mt-3{ role: :alert }
              = flash[:recaptcha_error]
              %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
                %span{ 'aria-hidden': true } &times;
          = recaptcha_v3(action: 'login')

          .d-flex.justify-content-between.mt-5
            %div
              = button_tag type: :submit, class: 'btn btn-primary mr-4' do
                %i.fas.fa-check
                %span.ml-1 Sign in

            .text-right
              = render 'devise/shared/links'
