html
  height: -webkit-fill-available
  overflow: hidden

body
  background-color: map-get($theme-colors, 'background')
  background-image: linear-gradient(180deg, rgba(255,255,255,0.4), rgba(150,150,150,0.0)), url('../../assets/images/background-crowd-triangles.png')
  background-position: bottom center
  background-repeat: no-repeat
  background-size: contain
  color: map-get($theme-colors, 'foreground')
  margin: 0
  height: 100vh
  height: -webkit-fill-available
  overflow: hidden

#app
  height: 100vh
  height: -webkit-fill-available

main
  flex: 1
  overflow: auto

@include media-breakpoint-up(lg)
  main
    padding-top: 1em

@include media-breakpoint-down(md)
  body
    background: white

  .overflow-md-hidden
    overflow: hidden !important

  .grecaptcha-badge
    bottom: 80px !important

  .border-right-md-none
    border-right: none !important
