.row-gap-0
  row-gap: 0

.row-gap-1
  row-gap: ($spacer * .25) !important

.row-gap-2
  row-gap: ($spacer * .5) !important

.row-gap-3
  row-gap: $spacer !important

.row-gap-4
  row-gap: ($spacer * 1.5) !important

.row-gap-5
  row-gap: ($spacer * 3) !important

.column-gap-0
  column-gap: 0

.column-gap-1
  column-gap: ($spacer * .25) !important

.column-gap-2
  column-gap: ($spacer * .5) !important

.column-gap-3
  column-gap: $spacer !important

.column-gap-4
  column-gap: ($spacer * 1.5) !important

.column-gap-5
  column-gap: ($spacer * 3) !important

.gap-0
  gap: 0

.gap-1
  gap: ($spacer * .25) !important

.gap-2
  gap: ($spacer * .5) !important

.gap-3
  gap: $spacer !important

.gap-4
  gap: ($spacer * 1.5) !important

.gap-5
  gap: ($spacer * 3) !important
