.text-break-word
  word-break: break-word !important

.font-size-100
  font-size: 100pt

.font-size-75
  font-size: 75pt

.font-size-50
  font-size: 50pt

.font-size-35
  font-size: 35pt

.font-size-25
  font-size: 25pt

.font-size-16
  font-size: 16pt

.font-size-14
  font-size: 14pt

.font-size-12
  font-size: 12pt

.font-size-10
  font-size: 10pt

.font-size-8
  font-size: 8pt

@include media-breakpoint-up(sm)
  .font-size-sm-100
    font-size: 100pt

  .font-size-sm-75
    font-size: 75pt

  .font-size-sm-50
    font-size: 50pt

  .font-size-sm-25
    font-size: 25pt

  .font-size-sm-16
    font-size: 16pt

  .font-size-sm-14
    font-size: 14pt

  .font-size-sm-12
    font-size: 12pt

  .font-size-sm-10
    font-size: 10pt

  .font-size-sm-8
    font-size: 8pt

@include media-breakpoint-up(md)
  .font-size-md-100
    font-size: 100pt

  .font-size-md-75
    font-size: 75pt

  .font-size-md-50
    font-size: 50pt

  .font-size-md-25
    font-size: 25pt

  .font-size-md-16
    font-size: 16pt

  .font-size-md-14
    font-size: 14pt

  .font-size-md-12
    font-size: 12pt

  .font-size-md-10
    font-size: 10pt

  .font-size-md-8
    font-size: 8pt

@include media-breakpoint-up(lg)
  .font-size-lg-100
    font-size: 100pt

  .font-size-lg-75
    font-size: 75pt

  .font-size-lg-50
    font-size: 50pt

  .font-size-lg-25
    font-size: 25pt

  .font-size-lg-16
    font-size: 16pt

  .font-size-lg-14
    font-size: 14pt

  .font-size-lg-12
    font-size: 12pt

  .font-size-lg-10
    font-size: 10pt

  .font-size-lg-8
    font-size: 8pt

@include media-breakpoint-up(xl)
  .font-size-xl-100
    font-size: 100pt

  .font-size-xl-75
    font-size: 75pt

  .font-size-xl-50
    font-size: 50pt

  .font-size-xl-25
    font-size: 25pt

  .font-size-xl-16
    font-size: 16pt

  .font-size-xl-14
    font-size: 14pt

  .font-size-xl-12
    font-size: 12pt

  .font-size-xl-10
    font-size: 10pt

  .font-size-xl-8
    font-size: 8pt
