- title 'Application settings'
.card
  .card-header Application settings
  .card-body
    = form_with(model: @settings, url: admin_settings_path) do |form|

      .form-group
        = form.label :max_votes_per_show
        = form.text_field :max_votes_per_show, class: 'form-control'
        .invalid-feedback#application_settings_max_votes_per_show_errors

      .form-group
        = form.label :max_votes_per_ip
        = form.text_field :max_votes_per_ip, class: 'form-control'
        .invalid-feedback#application_settings_max_votes_per_ip_errors

      .actions
        = button_tag type: :submit, class: 'btn btn-primary mr-4' do
          %i.fas.fa-check
          %span.ml-1 Save
