$('.is-invalid').removeClass('is-invalid')

<% if @settings.errors.any? %>

  <%- @settings.errors.each do |attribute, error| %>
    $('#application_settings_<%= attribute %>').addClass('is-invalid')
    $('#application_settings_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
