- title "Edit #{@user}"
.card
  .card-header Edit #{@user}
  .card-body
    = form_for(@user, url: admin_user_path(@user), html: { method: :put }) do |f|

      - if defined?(@user) && @user.errors.any?
        - @user.errors.full_messages.each do |message|
          .alert.alert-danger.alert-dismissible.fade.show{ role: :alert }
            = message
            %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
              %span{ 'aria-hidden': true } &times;

      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'

        - if @user.pending_reconfirmation?
          %small.text-muted
            Currently waiting confirmation for: #{resource.unconfirmed_email}

      .form-group
        = f.label :username
        = f.text_field :username, class: 'form-control'

      .form-group
        .custom-control.custom-checkbox
          = f.check_box :confirmed?, class: 'custom-control-input'
          = f.label :confirmed, class: 'custom-control-label'

      .form-group
        = f.label :role_ids, 'Roles'
        = f.collection_select :role_ids, Role.all, :id, :title, {}, multiple: true,
          class: 'custom-select', disabled: (@user == current_user and Role.where(name: :root).first.users.size < 2)

      .d-flex.flex-row.mt-5
        .flex-grow-1
          = button_tag type: :submit, class: 'btn btn-primary mr-4' do
            %i.fas.fa-check
            %span.ml-1 Save

          = link_to 'Cancel', admin_users_path

        .text-right
          = link_to 'Remove account', admin_user_path(@user), data: { confirm: 'Are you sure?' },
                    method: :delete, class: 'btn btn-outline-danger'
