- empty_message ||= t('show.index.empty')
- if shows.empty?
  .card-body
    %p.card-text.text-center.text-muted.font-italic.my-5= empty_message
- else
  %ul.list-group.list-group-flush
    - shows.each do |show|
      %li.list-group-item.d-flex
        // image
        .list-group-item-image
          = link_to show do
            = image_tag show_image(show), class: 'rounded shadow-sm border'

        // body
        .list-group-item-body

          // title
          %h5.list-group-item-title= link_to show.title, show

          // description
          .list-group-item-description
            - if show.description.present?
              = show.description
            - else
              .font-italic= t('description_empty')

          // meta data
          .row.list-group-item-meta
            .col-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-user-tie
                %span= t('attributes.guests')
              .list-group-item-meta-value
                = show.people.size

            .col-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-tv
                %span= t('attributes.episodes')
              .list-group-item-meta-value
                = show.episodes.size

            .col-4.col-lg-3.list-group-item-meta-group
              .list-group-item-meta-label
                %i.fa.fa-fw.fa-thumbs-up
                %span= t('attributes.votes')
              .list-group-item-meta-value
                = show.votes.size

        // buttons
        - if user_signed_in?
          .list-group-item-buttons
            .dropdown
              %a{ type: :button, data: { toggle: :dropdown }, aria: { haspopup: true, expanded: false } }
                %i.fa.fa-fw.fa-ellipsis-v
              .dropdown-menu.dropdown-menu-right
                - if policy(Report).create?
                  = link_to_report show, class: 'dropdown-item'

                - if policy(show).edit?
                  = link_to edit_show_path(show), class: 'dropdown-item' do
                    %i.fas.fa-fw.fa-pen
                    %span.ml-1= t('button.edit')

                - if policy(show).destroy?
                  = link_to show, method: :delete, data: { confirm: t('confirm') },
                                  class: 'dropdown-item text-danger' do
                    %i.fas.fa-fw.fa-trash
                    %span.ml-1= t('button.destroy')
