:ruby
  title @show.title
  meta_tag :description, show_meta_description(@show)
  meta_tag :keywords, show_meta_keywords(@show)

  @breadcrumbs = [
    { text: 'Shows', link: shows_path },
    { text: @show.title, link: show_path(@show) }
  ]

- content_for :sidebar do

  .card
    .card-header
      .d-none.d-lg-inline Information
      .d-lg-none= @show.title

    .card-body
      = image_tag show_image(@show), class: 'mb-4 rounded shadow-sm border size-200'

      %dl

        %dt= t('attributes.title')
        %dd= @show.title

        %dt= t('attributes.description')
        - if @show.description.present?
          %dd= @show.description
        - else
          %dd.font-italic Description missing.

        - if @show.topics.size.positive?
          %dt= t('attributes.topics')
          %dd= topics_for @show

        %dt= t('attributes.episodes')
        %dd= @show.episodes.size

        %dt= t('attributes.guests')
        %dd= @show.people.size

        %dt= t('attributes.votes')
        %dd= @show.votes.size

        %dt= t('attributes.rating')
        %dd.pt-1
          %rating{ 'rate-url': rate_show_path(@show, format: :json),
                   'rating-url': rating_show_path(@show, format: :json) }

        - if policy(@show).edit? && @edits.size.positive?
          %dt= t('attributes.edits')
          %dd= link_to t('edit.link', count: @edits.size), edits_show_path(@show)

    .card-footer
      = link_to_report @show, class: 'mr-xl-1 btn btn-sm btn-outline-danger'

      - if policy(@show).update?
        = link_to edit_show_path(@show), class: 'btn btn-sm btn-outline-primary mr-1 mr-xl-2' do
          %i.fas.fa-pen
          %span.ml-1= t 'button.edit'

      - if policy(@show).destroy?
        = link_to @show, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-sm btn-danger' do
          %i.fas.fa-trash
          %span.ml-1= t 'button.destroy'

  = render 'shared/share_card', share_text: @show.title

  - if @show.hosts.any?
    .card
      .card-header Hosts
      .list-group.list-group-flush
        - @show.hosts.each do |host|
          .list-group-item.list-group-item-action
            = link_to host do
              .d-flex.align-items-center.flex-row
                = image_tag person_image(host), class: 'rounded border mr-3 size-35'
                %h6.m-0.flex-grow-1= host.name

  - if @show.external_links?
    .card
      .card-header External links
      .card-body
        %dl

          - if @show.youtube.present?
            %dt
              %i.fab.fa-youtube.fa-fw
              %span.ml-1 YouTube
            %dd.text-truncate
              = link_to @show.youtube_url, target: '_blank' do
                %span.text-muted youtube.com/channel/
                %span>= @show.youtube

          - if @show.twitter.present?
            %dt
              %i.fab.fa-twitter.fa-fw
              %span.ml-1 Twitter
            %dd.text-truncate
              = link_to @show.twitter_url, target: '_blank' do
                %span.text-muted twitter.com/
                %span>= @show.twitter

          - if @show.facebook.present?
            %dt
              %i.fab.fa-facebook.fa-fw
              %span.ml-1 Facebook
            %dd.text-truncate
              = link_to @show.facebook_url, target: '_blank' do
                %span.text-muted facebook.com/
                %span>= @show.facebook

          - if @show.apple_podcast.present?
            %dt
              %i.fab.fa-apple.fa-fw
              %span.ml-1 Apple Podcast
            %dd.text-truncate
              = link_to @show.apple_podcast_url, target: '_blank' do
                %span.text-muted podcast.apple.com/
                %span>= @show.apple_podcast

          - if @show.spotify.present?
            %dt
              %i.fab.fa-spotify.fa-fw
              %span.ml-1 Spotify
            %dd.text-truncate
              = link_to @show.spotify_url, target: '_blank' do
                %span.text-muted open.spotify.com/show/
                %span>= @show.spotify

          - if @show.wikipedia.present?
            %dt
              %i.fab.fa-wikipedia-w.fa-fw
              %span.ml-1= t('attributes.wikipedia')
            %dd.text-truncate
              = link_to @show.wikipedia_url, target: '_blank' do
                %span.text-muted en.wikipedia.com/wiki/
                %span>= @show.wikipedia

          - if @show.website.present?
            %dt
              %i.fas.fa-globe.fa-fw
              %span.ml-1 Website
            %dd.text-truncate
              = link_to @show.website.sub(%r{^https?://(www.)?}, ''), @show.website, target: '_blank'

- content_for :main do
  .card
    .card-header My votes
    %person-list#myVotes{ url: my_show_votes_path(@show, format: :json),
                          'show-id': @show.id,
                          'empty-message': 'You have not voted yet.',
                          'show-new-guest': true }

  -# Previous guests
  %paginated-list{ url: previous_show_people_path(@show, format: :json), header: 'Previous guests',
                   prefix: 'previous_guests_', 'previous-label': 'Previous', 'next-label': 'Next' }

    %template{ 'v-slot:loading': '' }
      = render 'shared/skeleton/item'

    %template{ 'v-slot:content': 'slotProps' }
      %lists-people{ ':collection': 'slotProps.collection', 'empty-message': 'No one has been on this show.',
                     'show-id': @show.id }

  -# New guests
  %paginated-list{ url: other_show_people_path(@show, format: :json), header: 'New guests',
                   prefix: 'new_guests_', 'previous-label': 'Previous', 'next-label': 'Next' }

    %template{ 'v-slot:loading': '' }
      = render 'shared/skeleton/item'

    %template{ 'v-slot:content': 'slotProps' }
      %lists-people{ ':collection': 'slotProps.collection', 'empty-message': 'Every guest has been on this show.',
                     'show-id': @show.id }

  -# Episodes
  %paginated-list{ url: show_episodes_url(@show, format: :json), header: 'Episodes',
                   prefix: 'episodes_', 'previous-label': 'Previous', 'next-label': 'Next' }

    %template{ 'v-slot:loading': '' }
      = render 'shared/skeleton/item'

    %template{ 'v-slot:content': 'slotProps' }
      %lists-episodes{ ':collection': 'slotProps.collection', 'empty-message': 'This show has no episodes.',
                       'show-id': @show.id }

      - if policy(@show).update? && policy(Episode).create?
        .card-footer
          = link_to new_show_episode_url(@show), class: 'btn btn-sm btn-primary' do
            %i.fas.fa-plus
            %span.ml-2
              Add episode
