$('.is-invalid').removeClass('is-invalid')

<% if @show.errors.any? %>

  <%- @show.errors.each do |attribute, error| %>
    $('#show_<%= attribute %>').addClass('is-invalid')
    $('#show_<%= attribute %>_errors').text('<%= attribute.to_s.titleize %> <%= error %>.')
  <% end %>

<% end %>
