- title 'Create report'
.card
  .card-header Create report
  .card-body
    = form_with(model: @report) do |form|

      .form-group
        = form.label :reportable
        = form.text_field :reportable, class: 'form-control', readonly: true
        = form.hidden_field :reportable_id
        = form.hidden_field :reportable_type
        .invalid-feedback#report_reportable_errors

      .form-group
        = form.label :category
        - category_options = options_for_select(%w[Spam Incorrect Abusive], 'Incorrect')
        = form.select :category, category_options, {}, class: 'custom-select'
        .invalid-feedback#report_category_errors

      .form-group
        = form.label :comment
        = form.text_field :comment, class: 'form-control'
        .invalid-feedback#report_comment_errors

      .actions.mt-4
        = button_tag type: :submit, class: 'btn btn-primary mr-4' do
          %i.fas.fa-check
          %span.ml-1 Save
        = link_to 'Cancel', url_for(@report.reportable)
