.container-lg.px-0
  .footer.rounded-top.shadow.d-flex.align-items-center.flex-wrap.justify-content-center.row-gap-2
    .flex-md-grow-1.pl-2
      %span.pr-1 ©
      = DateTime.now.year
      = link_to 'ephracis', 'https://ephracis.com'

    %ul.list-inline

      %li.list-inline-item
        = link_to terms_path, class: 'm-3' do
          %i.fas.fa-file-alt
          %span.ml-1= t 'footer.terms'

      %li.list-inline-item
        = link_to privacy_path, class: 'm-3' do
          %i.fas.fa-user-secret
          %span.ml-1= t 'footer.privacy'

      %li.list-inline-item
        = link_to 'https://gitlab.com/ephracis/shocadb/-/issues', class: 'm-3' do
          %i.fab.fa-gitlab
          %span.ml-1= t 'footer.issues'
