- content_for :content do
  .profile
    .d-flex
      .p-2.bg-primary.rounded.profile-image
        = image_tag person_image(@person), class: 'rounded shadow-sm border size-200'
    .d-flex
      .bg-primary.text-secondary.profile-header.rounded.flex-grow-1
        .profile-title
          .d-flex.align-items-md-center
            .flex-grow-1
              .d-flex.align-items-center
                %h2.my-0= @person

                - if policy(@person).edit?
                  %small.d-none.d-md-inline
                    = link_to edit_person_path(@person), class: 'ml-2 ml-xl-3', title: t('button.edit') do
                      %i.fas.fa-pen

                - if policy(@person).destroy?
                  %small.d-none.d-md-inline
                    = link_to @person, method: :delete, data: { confirm: t('confirm') },
                              class: 'ml-2 ml-xl-3 text-danger', title: t('button.destroy') do
                      %i.fas.fa-trash-alt

            .align-self-start.d-none.d-md-block

              - if user_signed_in?
                %li.list-inline-item.profile-header-list-item
                  - following = @person.in?(current_user.favorite_people)
                  - btn_class = following ? 'btn-secondary' : 'btn-outline-secondary'
                  = link_to favorite_person_path(@person),
                            class: "btn btn-sm #{btn_class}", method: :post do
                    - if @person.in? current_user.favorite_people
                      %i.fas.fa-heart
                      %span.mx-2= t('person.show.unfollow')
                    - else
                      %i.far.fa-heart
                      %span.mx-2= t('person.show.follow')

          .mb-1

            %ul.list-inline.profile-header-list

              - if @person.external_links?
                %li.list-inline-item.profile-header-list-item
                  %ul.list-inline

                    - if @person.twitter.present?
                      %li.list-inline-item
                        = link_to @person.twitter_url, target: '_blank' do
                          %i.fab.fa-twitter.fa-fw
                          %span.ml-1= t('attributes.twitter')

                    - if @person.facebook.present?
                      %li.list-inline-item
                        = link_to @person.facebook_url, target: '_blank' do
                          %i.fab.fa-facebook.fa-fw
                          %span.ml-1= t('attributes.facebook')

                    - if @person.wikipedia.present?
                      %li.list-inline-item
                        = link_to @person.wikipedia_url, target: '_blank' do
                          %i.fab.fa-wikipedia-w.fa-fw
                          %span.ml-1= t('attributes.wikipedia')

              - if user_signed_in?
                %li.list-inline-item.profile-header-list-item.d-md-none
                  - following = @person.in?(current_user.favorite_people)
                  - btn_class = following ? 'btn-secondary' : 'btn-outline-secondary'
                  = link_to favorite_person_path(@person),
                            class: "btn btn-sm #{btn_class}", method: :post do
                    - if @person.in? current_user.favorite_people
                      %i.fas.fa-heart
                      %span.mx-2= t('person.show.unfollow')
                    - else
                      %i.far.fa-heart
                      %span.mx-2= t('person.show.follow')

              %li.list-inline-item.profile-header-list-item.text-secondary
                %rating{ 'rate-url': rate_person_path(@person, format: :json),
                          'rating-url': rating_person_path(@person, format: :json) }

              - if policy(@person).edit? && @edits&.size&.positive?
                %li.list-inline-item.profile-header-list-item.text-secondary
                  = link_to t('edit.link', count: @edits.size), edits_person_path(@person)

        %ul.nav.nav-lines
          %li.nav-item= link_to t('person.tabs.shows'), person_path(@person),
                                class: "nav-link #{active_if :shows} text-secondary"
          %li.nav-item= link_to t('person.tabs.episodes'), episodes_person_path(@person),
                                class: "nav-link #{active_if :episodes} text-secondary"
          %li.nav-item= link_to t('person.tabs.books'), person_books_path(@person),
                                class: "nav-link #{active_if :books} text-secondary"
          %li.nav-item= link_to t('person.tabs.about'), about_person_path(@person),
                                class: "nav-link #{active_if :about} text-secondary"

    .mt-4= content_for?(:page) ? yield(:page) : yield

= render template: 'layouts/application'
