- content_for :content do
  .overflow-md-hidden
    .row
      .col-lg-4.col-12#sidebar
        = yield(:sidebar)

      .col-lg-8.col-12
        = content_for?(:main) ? yield(:main) : yield

= render template: 'layouts/application'
